<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Tivia</title>
<style type="text/css">
/* body {
}
body, p, h1, h2, h3, h4, h5, h6, img, table, td, #emailBody {
    margin: 0;
    padding: 0;
}
a, #outlook a {
    display: inline-block;
    padding: 0;
}
a, a span {
    text-decoration: none;
}
a img {
    border: medium none;
}
img {
    height: auto;
    line-height: 100%;
    outline: medium none;
    text-decoration: none;
    width: auto;
}
.imageFix {
    display: block;
}
table {
}
table, td {
    border-collapse: collapse;
    border-spacing: 0;
}
.ExternalClass {
    display: block !important;
    width: 100%;
}
.ExternalClass, .ExternalClass p, .ExternalClass span, .ExternalClass font, .ExternalClass td, .ExternalClass div {
    line-height: 100%;
}
.ReadMsgBody, .ExternalClass {
    width: 100%;
}
td, th, p, a, li, h1, h2, h3, h4, h5, h6 {
    font-family: Arial,Helvetica,sans-serif;
}
h1, h2, h3, h4, h5, h6 {
    margin-bottom: 5px;
}
p, p.MsoNormal {
    margin-bottom: 24px;
}
.alignCenter, .eBody .alignCenter, .alignCenter p, .eBody.alignCenter p, .eBody .alignCenter p {
    text-align: center;
}
table.alignCenter, .alignCenter table, .alignCenter img {
    margin-left: auto;
    margin-right: auto;
}
.alignLeft, .eBody .alignLeft, .eBody.alignLeft p, .eBody .alignLeft p, .highlight.alignLeft, .invoiceTable2 .alignLeft {
    text-align: left;
}
table.alignLeft, .alignLeft table, .alignLeft img {
    margin-left: 0;
    margin-right: auto;
}
.alignRight, .eBody .alignRight, .eBody.alignRight p, .eBody .alignRight p, .highlight.alignRight, .invoiceTable2 .alignRight {
    text-align: right;
}
table.alignRight, .alignRight table, .alignRight a {
    margin-left: auto;
    margin-right: 0;
}
.desktopHide {
    display: none;
    font-size: 0;
    line-height: 0;
    max-height: 0;
    overflow: hidden;
    width: 0;
}
body, #emailBody, .emailBodyCell {
    height: 100%;
    min-height: 1000px;
    width: 100%;
}
.emailBodyCell {
    padding: 32px 16px;
}
.emailSummary {
    display: none !important;
    float: none !important;
    font-size: 0 !important;
    height: 0 !important;
    line-height: 0 !important;
    max-height: 0 !important;
    overflow: hidden !important;
    padding: 0 !important;
    width: 0 !important;
}
.emptyCell, .eBody .emptyCell, .highlight .emptyCell, .invoiceHead .space16, .emptyCell {
    font-size: 0 !important;
    line-height: 0 !important;
    padding: 0;
}
.eBody .space16, .invoiceHead .space16 {
    height: 16px;
    width: 16px;
}
.pdTp0, .eBox .pdTp0, .highlight.pdTp0, .eBody.pdTp0, .invoiceTable2 .pdTp0 {
    padding-top: 0;
}
.pdTp32, .eBox .pdTp32, .highlight.pdTp32, .eBody.pdTp32, .invoiceTable2 .pdTp32 {
    padding-top: 32px;
}
.pdBt5, .eBox .pdBt5, .highlight.pdBt5, .eBody.pdBt5, .eBox .pdBt5, .invoiceTable2 .pdBt5 {
    padding-bottom: 5px;
}
.pdBt16, .eBox .pdBt16, .highlight.pdBt16, .eBody.pdBt16, .eBox .pdBt16, .invoiceTable2 .pdBt16 {
    padding-bottom: 16px;
}
.pdRg16, .eBox .pdRg16, .highlight.pdRg16, .eBody.pdRg16, .eBody .pdRg16, .invoiceTable2 .pdRg16 {
    padding-right: 16px;
}
.pdLf16, .eBox .pdLf16, .highlight.pdLf16, .eBody.pdLf16, .invoiceTable2 .pdLf16 {
    padding-left: 16px;
}
.width246, .width448 {
    text-align: left;
    vertical-align: top;
    width: 246px;
}
.eBox {
    margin-left: auto;
    margin-right: auto;
    width: 544px;
}
.bottomCorners {
    height: 16px;
    width: 544px;
}
.eBox .btnMain {
    font-size: 18px;
    height: 20px;
    line-height: 20px;
    padding: 12px 22px;
    text-align: center;
    vertical-align: middle;
}
.mainBtn td {
    padding-bottom: 0;
}
.mainBtn a {
    font-weight: bold;
}
.tag .tagName {
    font-size: 11px;
    padding: 4px 6px;
    text-transform: uppercase;
    white-space: nowrap;
}
.tag .tag_space {
    background-color: transparent;
    font-size: 0 !important;
    height: 4px;
    line-height: 100%;
    padding: 0;
    text-align: left;
}
.eHeader, .highlight, .eBody {
    width: 512px;
}
.highlight, .eBody {
    padding: 16px 16px 0;
}
.eHeader {
    padding: 16px;
}
.eHeaderLogo {
    font-size: 0 !important;
    height: 48px;
}
.eHeaderLogo, .eHeaderLogo a {
    font-size: 18px;
    font-weight: bold;
    height: 48px;
    text-align: left;
}
.eHeaderLogo a {
    line-height: 0;
}
.eHeaderLogo img {
    vertical-align: top;
}
.eHeaderLogoText {
    padding-bottom: 0;
    padding-top: 10px;
    text-align: left;
    vertical-align: top;
}
.eHeaderLogoText a {
    font-size: 26px;
    font-weight: bold;
    line-height: 32px;
    text-align: left;
}
.eFooter {
    font-size: 12px;
    line-height: 21px;
    padding-top: 14px;
    text-align: center;
    width: 544px;
}
.eFooter a, .eFooter a span {
    text-decoration: underline;
}
.highlight {
    text-align: center;
}
h1 {
    font-size: 24px;
    font-weight: bold;
    line-height: 36px;
}
.highlight p {
    font-size: 14px;
    line-height: 22px;
}
.eBody p, .eBody li {
    font-size: 14px;
    line-height: 22px;
    text-align: left;
}
.eBody p a span {
    font-weight: bold;
}
h2 {
    font-size: 18px;
    font-weight: normal;
    line-height: 26px;
    margin-bottom: 5px;
}
h2 span {
    font-weight: bold;
}
.invoiceHead, .invoiceHead td, .invoiceHead p {
    font-size: 12px;
    text-align: left;
}
.invoiceHead p {
    line-height: 19px;
}
h4 {
    font-size: 14px;
    font-weight: bold;
}
h4 span {
    font-size: 12px;
    font-weight: normal;
}
.invoiceTable2 th, .invoiceTable2 td {
    font-size: 14px;
    line-height: 19px;
    padding: 14px 16px;
}
.invoiceTable2 th {
    font-size: 12px;
    font-weight: bold;
    line-height: 16px;
    padding-bottom: 6px;
    padding-top: 6px;
    text-transform: uppercase;
}
.invoiceTable2 .subTotal {
    font-size: 14px;
    line-height: 22px;
}
.eTotal .amount {
    font-size: 16px;
    font-weight: bold;
}
.invoiceTable2 .prodDesc {
    font-size: 12px;
    line-height: 18px;
    padding-right: 0;
    text-align: left;
    vertical-align: top;
    width: 280px;
}
.invoiceTable2 .alignRight {
    text-align: right;
    vertical-align: top;
}
.invoiceTable2 .subTotal, .invoiceTable2 .eTotal {
    padding-top: 16px;
}
.invoiceTable2 .prodImg {
    padding-right: 0;
    width: 80px;
}
a, a span {
    color: #45c29d;
}
.entryBox p, .eBody, .invoiceTable2 th, .invoiceTable2 td, .invoiceTable2 p, h4, .subTotal .amount {
    color: #54565c;
}
.eHeaderLogo, .eHeaderLogo a, .eHeaderLogoText, .eHeaderLogoText a, .eHeaderLogoText span, .mainBtn a, .mainBtn a span, .tag .tagName, .defaultBtn a, .defaultBtn a span {
    color: #ffffff;
}
.eFooter {
    color: #b2b2b2;
}
.eFooter a, .eFooter a span {
    color: #808080;
}
.highlight p, .invoiceHead, .invoiceHead td, .invoiceHead p, .invoiceTable2 .subTotal, h4 span, .invoiceTable2 th, .invoiceTable2 .prodDesc, .label {
    color: #a1a2a5;
}
h1, h1 span, h2, h2 span {
    color: #465059;
}
.amount {
    color: #78b8c4;
}
.eHeader, .defaultBtn td {
    background-color: #45c29d;
}
.bottomCorners, .ReadMsgBody, .ExternalClass, .eBody, .invoiceTable2, .invoiceTable2 td, .invoiceTable2 th {
    background-color: #ffffff;
}
body, #emailBody, .emailBodyCell {
    background-color: #ebebeb;
}
.highlight, .invoiceTable2 .subTotal {
    background-color: #f9f8fb;
}
.mainBtn td {
    background-color: #363636;
}
.tag td {
    background-color: #78b8c4;
}
.bottomLine, .invoiceTable2 th, .invoiceTable2 td, .eTotal {
    border-bottom: 1px solid #ebebeb;
}
@media only screen {
td[class="btnMain"] {
    padding: 0 !important;
}
td[class="btnMain"] a {
    display: block !important;
    line-height: 26px !important;
    padding: 10px 18px !important;
}
table[class="tag"] td {
    border-collapse: separate !important;
}
td[class="tagName"], td[class~="invoiceHead"] td[class="tagName"] {
    font-size: 11px !important;
    line-height: 14px !important;
}
}
@media only screen and (max-width: 600px) {
td[class="emailBodyCell"] {
    padding-left: 0 !important;
    padding-right: 0 !important;
}
}
@media only screen and (max-width: 560px) {
td[class="emailBodyCell"] {
    padding: 8px !important;
}
table[id="emailBody"], td[class="emailBodyCell"], table[class="eBox"], td[class="highlight"], td[class~="highlight"], td[class="eBody"], td[class~="eBody"] {
    display: block !important;
    width: auto !important;
}
td[class="highlight"], td[class~="highlight"], td[class="eBody"], td[class~="eBody"] {
    overflow: hidden !important;
}
td[class="width246"], td[class~="width246"], td[class~="subTotal"], table[class="entryBox"] td[class="alignLeft"], td[class~="invoiceHead"] table, td[class~="invoiceHead"] td[class="alignLeft"], td[class~="prodDesc"], table[class~="invoiceTable2"] td[class~="alignRight"], td[class~="highlight"] td[class="alignLeft"] {
    display: block !important;
    padding-right: 0 !important;
    width: 100% !important;
}
td[class="highlight"] h1, td[class~="highlight"] h1 {
    font-size: 28px !important;
    line-height: 36px !important;
}
td[class="eBody"] h2, td[class~="eBody"] h2 {
    font-size: 22px !important;
    line-height: 30px !important;
    margin-bottom: 8px !important;
}
strong[class="amount"], td[class~="eTotal"] span[class="amount"] {
    font-size: 20px !important;
    line-height: 24px !important;
}
td[class="btnMain"] a {
    font-size: 20px;
}
td[class~="invoiceHead"] p[class="amount"] {
    font-size: 18px !important;
    line-height: 26px !important;
}
td[class="eBody"] p, td[class~="eBody"] p, td[class="highlight"] p, td[class~="highlight"] p, table[class="invoiceTable2"] td, table[class~="invoiceTable2"] td, h4, td[class~="highlight"] h4 {
    font-size: 16px !important;
    line-height: 24px !important;
}
td[class="eBody"] p, td[class~="eBody"] p, td[class="highlight"] p, td[class~="highlight"] p {
    margin-bottom: 18px;
}
td[class~="invoiceHead"] td, td[class~="invoiceHead"] p, td[class~="highlight"] h4 span {
    font-size: 14px !important;
    line-height: 21px !important;
}
td[class="highlight"], td[class~="highlight"], td[class="eBody"], td[class~="eBody"] {
    padding-top: 16px !important;
}
table[class="invoiceTable2"], table[class~="invoiceTable2"] {
    float: left !important;
    margin: 0 !important;
    padding: 0 !important;
    width: 100% !important;
}
table[class="mainBtn"], table[class~="mainBtn"], table[class="defaultBtn"], table[class~="defaultBtn"] {
    margin: 0 !important;
    width: 100% !important;
}
table[class="invoiceTable2"] td, table[class~="invoiceTable2"] td {
    box-sizing: border-box !important;
    padding-right: 16px !important;
    text-align: left !important;
}
table[class~="invoiceTable2"] td[class~="prodImg"] {
    display: block !important;
    height: 1px !important;
    overflow: visible !important;
    padding: 0 !important;
    position: relative !important;
    width: 100% !important;
}
td[class~="prodImg"] img {
    position: absolute !important;
    right: 16px !important;
    top: 16px !important;
}
table[class~="invoiceTable2"] td {
    padding-left: 16px !important;
}
table[class~="invoiceTable2"] td[class~="prodDesc"], table[class~="invoiceTable2"] td[class~="alignRight"] {
    border-bottom: 0 none !important;
    padding-right: 112px !important;
}
table[class~="invoiceTable3"] td[class~="prodDesc"], table[class~="invoiceTable3"] td[class~="alignRight"] {
    border-bottom: 0 none !important;
    padding-right: 16px !important;
}
table[class~="invoiceTable3"] td[class~="prodDesc"] {
    border-top: 1px solid #ebebeb !important;
}
table[class~="invoiceTable2"] td[class~="prodDesc"] {
    padding-bottom: 0 !important;
}
table[class~="invoiceTable2"] td[class~="alignRight"] {
    padding-top: 4px !important;
}
table[class~="invoiceTable2"] td[class~="prodDesc"] {
    font-size: 14px !important;
    line-height: 21px !important;
}
table[class~="invoiceTable2"] td[class~="eTotal"] {
    padding-bottom: 0 !important;
    padding-top: 16px !important;
}
table[class~="invoiceTable2"] td[class~="eTotal"] span[class="amount"] {
    display: block !important;
    padding-bottom: 16px !important;
}
span[class="desktopHide"] {
    display: inline-block !important;
    font-size: inherit !important;
    line-height: inherit !important;
    max-height: none !important;
    overflow: visible !important;
    padding-right: 6px !important;
    width: auto !important;
}
td[class="mobileHide"], td[class~="mobileHide"], table[class~="invoiceTable2"] th {
    display: none !important;
    font-size: 0 !important;
    line-height: 0 !important;
    max-height: 0 !important;
    overflow: hidden !important;
    padding: 0 !important;
    width: 0 !important;
}
} */
</style>
	
</head>
<body>
<table width="100%" cellspacing="0" cellpadding="0" border="0" id="emailBody" style="">
  <tbody>
  <tr>
    <td valign="top" align="center" class="emailBodyCell" style="margin:0;padding:32px 16px;border-collapse:collapse;border-spacing:0;font-family:Arial,Helvetica,sans-serif;padding-left:0 !important;padding-right:0 !important;display:block !important;width:100%;height:100%;min-height:1000px;background-color:#ebebeb;">
	    <table width="544" cellspacing="0" cellpadding="0" border="0" class="eBox" style="margin:0;padding:0;border-collapse:collapse;border-spacing:0;display:block !important;width:544px;margin:0 auto;">
	        <tbody>
	        <tr>
	          <td class="eHeader" style="margin:0;padding:16px 16px 25px;border-collapse:collapse;border-spacing:0;font-family:Arial,Helvetica,sans-serif;width:512px;background-color:#45c29d;">
	          	<table width="100%" cellspacing="0" cellpadding="0" border="0">
	              <tbody>
	              <tr>
	                <td class="eHeaderLogo" style="padding-bottom:20px;margin:0;padding:0;border-collapse:collapse;border-spacing:0;font-family:Arial,Helvetica,sans-serif;font-size:18px;height:48px;font-weight:bold;text-align:left;color:#ffffff;">
	                  <?php //echo $this->Html->link( $this->Html->image('fulllogo.png', array('alt' => 'TiviaStore', 'style' => 'padding-bottom: 10px;')),
	                    //array('controller' => 'pages', 'action' => 'display'), array('escape' => false));?>
	                  <img alt="TiviaStore" src="http://tiviastore.com/versionuno/img/fulllogo.png">            
	                </td>
	                <!-- end .eHeaderLogo--> 
	              </tr>
	             </tbody>
	            </table>
	          </td>
	        </tr>
	        <tr>
	         <td>
	  			<?php echo $this->fetch('content'); ?> 
	  		 </td>
	  		</tr> 
	        <tr>
	          <td class="bottomCorners" style="margin:0;padding:0;border-collapse:collapse;border-spacing:0;font-family:Arial,Helvetica,sans-serif;height:16px;width:544px;background-color:#ffffff;">&nbsp;</td>
	        </tr>
	        <tr>
	          <td class="eFooter" style="margin:0;padding:0;border-collapse:collapse;border-spacing:0;font-family:Arial,Helvetica,sans-serif;font-size:12px;line-height:21px;padding-top:14px;text-align:center;width:544px;color:#b2b2b2;"> 
	           Derechos reservados &copy; 2014 <a style="text-decoration:underline; color:#0c87c7;" href="http://gifky.com">tiviastore.com</a> <br/>
	          </td>
	        </tr>
	      </tbody>
	   </table>
      
      <!-- end .eBox --></td>
    <!-- end .emailBodyCell --> 
  </tr>
</tbody>
</table>
</body>
</html>