<div class="homepage_content clearfix">
    <div class="fullwidth-section">
      <div data-stellar-background-ratio="0.2" style="background-image: url('../img/ban.png'); background-position: 50% 0px;" class="parallax">
       </div>
      <div style="background-color:rgba(0,0,0,0.4);" class="img-overlay-solid"></div>

      <div class="container">
          <div class="sixteen columns featured_links" style="margin-left: 0px;">
            <div class="section clearfix offset-by-two">
              <div class="six columns" style="text-align:center;">
              	<p class="font-human" style="font-size: 26px; color: #ffffff">Inicia sesión en tivia<p>
 				 <?php echo $this->element('loginform');?>        
 			  </div>

              <div class="six columns" style="text-align:center;">
              	<p class="font-human" style="font-size: 26px; color: #ffffff">Regístrate en tivia<p>
				<?php echo $this->element('registerform');?>   
              </div>

            </div>
          </div>
        </div>
    </div>            
</div>
