<div class="row" style="text-align:center; margin-top: 15%; margin-left:25%;">
  <div class="col-lg-6">
      <section class="panel">
          <header class="panel-heading">
              WELCOME TO INFINITY MANAGEMENT SYSTEM
          </header>
          <div class="panel-body">
              <p class="">Select an action from the menu on the left</p>
          </div>
      </section>
  </div>
</div>